body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    text-align: center; /* Center text */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-control {
    margin-right: 10px;
}

.spinner-border {
    margin: 20px 0; /* Add margin around spinner */
}

.character-info {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    text-align: left; /* Align text to the left inside character info */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents horizontally */
}

.character-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add margin below image */
}
